# Indian Takeaway Orders
---
## By Killian Hughes

### Load in data

In [0]:
restaurant_1_orders = sqlContext.read.load('/FileStore/tables/restaurant_1_orders.csv', format='csv', header=True, inferSchema=True)
restaurant_2_orders = sqlContext.read.load('/FileStore/tables/restaurant_2_orders.csv', format='csv', header=True, inferSchema=True)
restaurant_1_products_price = sqlContext.read.load('/FileStore/tables/restaurant_1_products_price.csv', format='csv', header=True, inferSchema=True)
restaurant_2_products_price = sqlContext.read.load('/FileStore/tables/restaurant_2_products_price.csv', format='csv', header=True, inferSchema=True)

### Data Cleaning
---
  - Using Distinct Count and Count to check for duplicates
  - Using dropDuplicates to remove duplicates

In [0]:
def dup_percent_finder(dataframe):
    percent_dup = ((dataframe.count() - dataframe.distinct().count()) / dataframe.count()) * 100
    print("This dataframe contains", percent_dup, "% duplicated rows")

In [0]:
dup_percent_finder(restaurant_1_orders)

This dataframe contains 0.1296479456815205 % duplicated rows

In [0]:
dup_percent_finder(restaurant_1_products_price)

This dataframe contains 0.0 % duplicated rows

In [0]:
dup_percent_finder(restaurant_2_orders)

This dataframe contains 0.14935015899918613 % duplicated rows

In [0]:
dup_percent_finder(restaurant_2_products_price)

This dataframe contains 0.0 % duplicated rows

In [0]:
restaurant_1_orders = restaurant_1_orders.dropDuplicates()
restaurant_2_orders = restaurant_2_orders.dropDuplicates()

In [0]:
dup_percent_finder(restaurant_1_orders)

This dataframe contains 0.0 % duplicated rows

In [0]:
dup_percent_finder(restaurant_2_orders)

This dataframe contains 0.0 % duplicated rows

In [0]:
import numpy as np
from pyspark.sql.functions import col, isnan, when, count

def null_value_finder(dataframe):
    dataframe.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dataframe.columns]
    ).show()

In [0]:
restaurant_1_orders.show()

+------------+----------------+--------------------+--------+-------------+--------------+
|Order Number|      Order Date|           Item Name|Quantity|Product Price|Total products|
+------------+----------------+--------------------+--------+-------------+--------------+
|       16115|03/08/2019 20:01|       Plain Papadum|       1|          0.8|             7|
|       16117|03/08/2019 20:17|       Mushroom Rice|       1|         3.95|             7|
|       16116|03/08/2019 20:09|          Aloo Chaat|       1|         4.95|             5|
|       16115|03/08/2019 20:01|      Chicken Pakora|       1|         5.95|             7|
|       16118|03/08/2019 20:25|       Mushroom Rice|       1|         3.95|             6|
|       16118|03/08/2019 20:25|       Mango Chutney|       1|          0.5|             6|
|       16118|03/08/2019 20:25|         Garlic Naan|       1|         2.95|             6|
|       16116|03/08/2019 20:09|      Chicken Pakora|       1|         5.95|             5|
|       16117|03/08/2019 20:17|          Lamb Tikka|       1|         4.95|             7|
|       16118|03/08/2019 20:25|       Plain Papadum|       2|          0.8|             6|
|       16118|03/08/2019 20:25|    King Prawn Balti|       1|        12.95|             6|
|       16116|03/08/2019 20:09|Chicken Chilli Ga...|       1|         9.95|             5|
|       16116|03/08/2019 20:09|          Keema Naan|       1|         2.95|             5|
|       16117|03/08/2019 20:17|             Chapati|       1|         1.95|             7|
|       16117|03/08/2019 20:17|         Saag Paneer|       1|         5.95|             7|
|       16118|03/08/2019 20:25| Paneer Tikka Masala|       1|         8.95|             6|
|       16117|03/08/2019 20:17|Tandoori Chicken ...|       1|         4.95|             7|
|       16116|03/08/2019 20:09|        Lamb Biryani|       1|         9.95|             5|
|       16115|03/08/2019 20:01|       Mango Chutney|       1|          0.5|             7|
|       16117|03/08/2019 20:17|     Vindaloo - Lamb|       1|         7.95|             7|
+------------+----------------+--------------------+--------+-------------+--------------+
only showing top 20 rows

In [0]:
restaurant_2_orders.show()

+--------+----------------+--------------------+--------+-------------+--------------+
|Order ID|      Order Date|           Item Name|Quantity|Product Price|Total products|
+--------+----------------+--------------------+--------+-------------+--------------+
|   25582|03/08/2019 20:33|       Peshwari Naan|       1|         2.95|             5|
|   25583|03/08/2019 21:58|             Paratha|       1|         2.95|            12|
|   25582|03/08/2019 20:33|         Bottle Coke|       1|         2.95|             5|
|   25583|03/08/2019 21:58|Tandoori Mixed Grill|       1|        11.95|            12|
|   25583|03/08/2019 21:58|       Plain Papadum|       1|          0.8|            12|
|   25583|03/08/2019 21:58|         Garlic Naan|       1|         2.95|            12|
|   25583|03/08/2019 21:58|        Madras Sauce|       1|         3.95|            12|
|   25582|03/08/2019 20:33|          Pilau Rice|       1|         2.95|             5|
|   25581|03/08/2019 20:01|          Pilau Rice|       1|         2.95|             5|
|   25581|03/08/2019 20:01|         Saag Paneer|       1|         5.95|             5|
|   25583|03/08/2019 21:58|       Onion Chutney|       1|          0.5|            12|
|   25582|03/08/2019 20:33|      Butter Chicken|       1|         8.95|             5|
|   25581|03/08/2019 20:01|         Onion Bhaji|       1|         3.95|             5|
|   25583|03/08/2019 21:58|Chicken Tikka Masala|       1|         8.95|            12|
|   25583|03/08/2019 21:58|       Mango Chutney|       2|          0.5|            12|
|   25583|03/08/2019 21:58|       Mushroom Rice|       2|         3.95|            12|
|   25581|03/08/2019 20:01|             Chapati|       1|         1.95|             5|
|   25582|03/08/2019 20:33|Tandoori King Pra...|       1|        12.95|             5|
|   25583|03/08/2019 21:58|          Plain Rice|       1|         2.95|            12|
|   25583|03/08/2019 21:58|          Mint Sauce|       1|          0.5|            12|
+--------+----------------+--------------------+--------+-------------+--------------+
only showing top 20 rows

In [0]:
null_value_finder(restaurant_1_orders)

+------------+----------+---------+--------+-------------+--------------+
|Order Number|Order Date|Item Name|Quantity|Product Price|Total products|
+------------+----------+---------+--------+-------------+--------------+
|           0|         0|        0|       0|            0|             0|
+------------+----------+---------+--------+-------------+--------------+

In [0]:
null_value_finder(restaurant_2_orders)

+--------+----------+---------+--------+-------------+--------------+
|Order ID|Order Date|Item Name|Quantity|Product Price|Total products|
+--------+----------+---------+--------+-------------+--------------+
|       0|         0|        0|       0|            0|             0|
+--------+----------+---------+--------+-------------+--------------+

### finding discrepencies between orders and menu from restaurant 1

In [0]:
actual_menu_1 = restaurant_1_orders.select("Item Name", "Product Price")
expected_menu_1 = restaurant_1_products_price.select("Item Name", "Product Price")

In [0]:
actual_menu_1 = actual_menu_1.dropDuplicates()
expected_menu_1 = expected_menu_1.dropDuplicates()

In [0]:
extra_items = actual_menu_1.subtract(expected_menu_1)
extra_items = extra_items.withColumnRenamed("Product Price", "Mistaken Price")
extra_items.show()

+-------------+--------------+
|    Item Name|Mistaken Price|
+-------------+--------------+
|        Rogon|          9.95|
|        Bhuna|          9.95|
|         Saag|         12.95|
|      Dhansak|         12.95|
|        Korma|          9.95|
|     Mushroom|          9.95|
|      Dupiaza|          9.95|
|Chicken Tikka|          7.95|
|       Madras|         11.95|
|        Bhuna|         12.95|
|         Saag|          9.95|
|      Dhansak|          9.95|
|        Curry|         11.95|
|      Dupiaza|         12.95|
|  Sheek Kehab|          5.95|
|     Vindaloo|         11.95|
|        Curry|          8.95|
|Chicken Tikka|          4.95|
|     Vindaloo|          8.95|
|       Pathia|          9.95|
+-------------+--------------+
only showing top 20 rows

In [0]:
expected_menu = expected_menu_1.withColumnRenamed("Item Name", "Drop").withColumnRenamed("Product Price", "Actual Price")
expected_menu.show()

+-------------+------------+
|         Drop|Actual Price|
+-------------+------------+
|   Plain Rice|        2.95|
|   Onion Naan|        2.95|
|  Lime Pickle|         0.5|
|        Puree|        1.95|
|Peshwari Naan|        2.95|
|Mango Chutney|         0.5|
|   Pilau Rice|        2.95|
|   Mint Sauce|         0.5|
|  Bottle Coke|        2.95|
|    Red Sauce|         0.5|
|  Green Salad|        2.95|
|Tandoori Roti|         2.6|
|      Chapati|        1.95|
|   Keema Naan|        2.95|
|      Paratha|        2.95|
|Onion Chutney|         0.5|
|Spicy Papadum|         0.8|
|   Plain Naan|         2.6|
|       Raitha|        2.95|
|Plain Papadum|         0.8|
+-------------+------------+
only showing top 20 rows

In [0]:
df1 = extra_items.join(expected_menu, extra_items["Item Name"] == expected_menu["Drop"], "inner")
df1.show()

+-------------+--------------+-------------+------------+
|    Item Name|Mistaken Price|         Drop|Actual Price|
+-------------+--------------+-------------+------------+
|       Pathia|         12.95|       Pathia|        8.95|
|        Rogon|          9.95|        Rogon|        8.95|
|        Bhuna|          9.95|        Bhuna|        8.95|
|         Saag|         12.95|         Saag|        8.95|
|      Dhansak|         12.95|      Dhansak|        8.95|
|        Korma|          9.95|        Korma|        8.95|
|     Mushroom|          9.95|     Mushroom|        8.95|
|      Dupiaza|          9.95|      Dupiaza|        8.95|
|Chicken Tikka|          7.95|Chicken Tikka|        3.95|
|       Madras|         11.95|       Madras|        7.95|
|        Korma|         12.95|        Korma|        8.95|
|        Bhuna|         12.95|        Bhuna|        8.95|
|         Saag|          9.95|         Saag|        8.95|
|      Dhansak|          9.95|      Dhansak|        8.95|
|        Curry|         11.95|        Curry|        7.95|
|      Dupiaza|         12.95|      Dupiaza|        8.95|
|  Sheek Kehab|          5.95|  Sheek Kehab|        4.95|
|        Rogon|         12.95|        Rogon|        8.95|
|     Vindaloo|         11.95|     Vindaloo|        7.95|
|        Curry|          8.95|        Curry|        7.95|
+-------------+--------------+-------------+------------+
only showing top 20 rows

In [0]:
df1 = df1.drop("Drop")

In [0]:
display(df1)

Item Name,Mistaken Price,Actual Price
Pathia,12.95,8.95
Rogon,9.95,8.95
Bhuna,9.95,8.95
Saag,12.95,8.95
Dhansak,12.95,8.95
Korma,9.95,8.95
Mushroom,9.95,8.95
Dupiaza,9.95,8.95
Chicken Tikka,7.95,3.95
Madras,11.95,7.95
Korma,12.95,8.95
Bhuna,12.95,8.95
Saag,9.95,8.95
Dhansak,9.95,8.95
Curry,11.95,7.95
Dupiaza,12.95,8.95
Sheek Kehab,5.95,4.95
Rogon,12.95,8.95
Vindaloo,11.95,7.95
Curry,8.95,7.95
Chicken Tikka,4.95,3.95
Vindaloo,8.95,7.95
Pathia,9.95,8.95
Madras,8.95,7.95

### removing the mistaken item prices replacing them with the correct prices

In [0]:
restaurant_1_orders
df1

Out[23]: DataFrame[Item Name: string, Mistaken Price: double, Actual Price: double]

In [0]:
restaurant_1_orders.columns

Out[24]: ['Order Number',
 'Order Date',
 'Item Name',
 'Quantity',
 'Product Price',
 'Total products']

In [0]:
restaurant_1_orders.show()

+------------+----------------+--------------------+--------+-------------+--------------+
|Order Number|      Order Date|           Item Name|Quantity|Product Price|Total products|
+------------+----------------+--------------------+--------+-------------+--------------+
|       16115|03/08/2019 20:01|       Plain Papadum|       1|          0.8|             7|
|       16117|03/08/2019 20:17|       Mushroom Rice|       1|         3.95|             7|
|       16116|03/08/2019 20:09|          Aloo Chaat|       1|         4.95|             5|
|       16115|03/08/2019 20:01|      Chicken Pakora|       1|         5.95|             7|
|       16118|03/08/2019 20:25|       Mushroom Rice|       1|         3.95|             6|
|       16118|03/08/2019 20:25|       Mango Chutney|       1|          0.5|             6|
|       16118|03/08/2019 20:25|         Garlic Naan|       1|         2.95|             6|
|       16116|03/08/2019 20:09|      Chicken Pakora|       1|         5.95|             5|
|       16117|03/08/2019 20:17|          Lamb Tikka|       1|         4.95|             7|
|       16118|03/08/2019 20:25|       Plain Papadum|       2|          0.8|             6|
|       16118|03/08/2019 20:25|    King Prawn Balti|       1|        12.95|             6|
|       16116|03/08/2019 20:09|Chicken Chilli Ga...|       1|         9.95|             5|
|       16116|03/08/2019 20:09|          Keema Naan|       1|         2.95|             5|
|       16117|03/08/2019 20:17|             Chapati|       1|         1.95|             7|
|       16117|03/08/2019 20:17|         Saag Paneer|       1|         5.95|             7|
|       16118|03/08/2019 20:25| Paneer Tikka Masala|       1|         8.95|             6|
|       16117|03/08/2019 20:17|Tandoori Chicken ...|       1|         4.95|             7|
|       16116|03/08/2019 20:09|        Lamb Biryani|       1|         9.95|             5|
|       16115|03/08/2019 20:01|       Mango Chutney|       1|          0.5|             7|
|       16117|03/08/2019 20:17|     Vindaloo - Lamb|       1|         7.95|             7|
+------------+----------------+--------------------+--------+-------------+--------------+
only showing top 20 rows

  - join the menu prices with the actual prices for both tables
  - find out the most popular items in each category
  - find the most popular time of day, using the between command

In [0]:
restaurant_1_products_price = restaurant_1_products_price.withColumnRenamed("Item Name", "Menu_Item").withColumnRenamed("Product Price", "Correct_Price")

In [0]:
joined_order_1 = restaurant_1_orders.join(restaurant_1_products_price, restaurant_1_orders["Item Name"] == restaurant_1_products_price["Menu_Item"], "inner")

In [0]:
joined_order_1 = joined_order_1.drop("Product Price", "Item Name")

In [0]:
joined_order_1.orderBy("Order Number", ascending=True).show()

+------------+----------------+--------+--------------+--------------------+-------------+
|Order Number|      Order Date|Quantity|Total products|           Menu_Item|Correct_Price|
+------------+----------------+--------+--------------+--------------------+-------------+
|         630|01/09/2015 14:42|       1|             3|         Onion Bhaji|         3.95|
|         647|08/09/2015 17:12|       1|             3|         Onion Bhaji|         3.95|
|         648|08/09/2015 17:31|       1|             1|         Onion Bhaji|         3.95|
|         651|08/09/2015 17:56|       1|             4|         Onion Bhaji|         3.95|
|         764|09/09/2015 09:31|       1|             3|         Onion Bhaji|         3.95|
|         838|09/09/2015 11:28|       1|             4|         Onion Bhaji|         3.95|
|         840|09/09/2015 11:35|       1|             3|         Onion Bhaji|         3.95|
|         857|09/09/2015 12:48|       1|             4|         Onion Bhaji|         3.95|
|         874|09/09/2015 14:41|       1|             3|         Onion Bhaji|         3.95|
|         894|09/09/2015 15:52|       1|             4|         Onion Bhaji|         3.95|
|        1212|29/09/2015 15:20|       3|             3|       Chicken Tikka|         3.95|
|        1212|29/09/2015 15:20|       1|             3|       Chicken Tikka|         3.95|
|        1212|29/09/2015 15:20|       1|             3|Tandoori Chicken ...|         4.95|
|        1216|29/09/2015 15:36|       1|             2|       Tandoori Fish|         5.95|
|        1216|29/09/2015 15:36|       2|             2|    Vegetable Samosa|         4.95|
|        1219|29/09/2015 16:16|       1|             1|    Vegetable Samosa|         4.95|
|        1220|30/09/2015 10:36|       1|             3|Tandoori Chicken ...|         4.95|
|        1220|30/09/2015 10:36|       1|             3|    Vegetable Samosa|         4.95|
|        1220|30/09/2015 10:36|       1|             3|       Tandoori Fish|         5.95|
|        1221|30/09/2015 15:38|       1|             6|        Royal Paneer|         5.95|
+------------+----------------+--------+--------------+--------------------+-------------+
only showing top 20 rows

### Repeating the same processes for restaurant two

In [0]:
restaurant_2_orders.show()

+--------+----------------+--------------------+--------+-------------+--------------+
|Order ID|      Order Date|           Item Name|Quantity|Product Price|Total products|
+--------+----------------+--------------------+--------+-------------+--------------+
|   25582|03/08/2019 20:33|       Peshwari Naan|       1|         2.95|             5|
|   25583|03/08/2019 21:58|             Paratha|       1|         2.95|            12|
|   25582|03/08/2019 20:33|         Bottle Coke|       1|         2.95|             5|
|   25583|03/08/2019 21:58|Tandoori Mixed Grill|       1|        11.95|            12|
|   25583|03/08/2019 21:58|       Plain Papadum|       1|          0.8|            12|
|   25583|03/08/2019 21:58|         Garlic Naan|       1|         2.95|            12|
|   25583|03/08/2019 21:58|        Madras Sauce|       1|         3.95|            12|
|   25582|03/08/2019 20:33|          Pilau Rice|       1|         2.95|             5|
|   25581|03/08/2019 20:01|          Pilau Rice|       1|         2.95|             5|
|   25581|03/08/2019 20:01|         Saag Paneer|       1|         5.95|             5|
|   25583|03/08/2019 21:58|       Onion Chutney|       1|          0.5|            12|
|   25582|03/08/2019 20:33|      Butter Chicken|       1|         8.95|             5|
|   25581|03/08/2019 20:01|         Onion Bhaji|       1|         3.95|             5|
|   25583|03/08/2019 21:58|Chicken Tikka Masala|       1|         8.95|            12|
|   25583|03/08/2019 21:58|       Mango Chutney|       2|          0.5|            12|
|   25583|03/08/2019 21:58|       Mushroom Rice|       2|         3.95|            12|
|   25581|03/08/2019 20:01|             Chapati|       1|         1.95|             5|
|   25582|03/08/2019 20:33|Tandoori King Pra...|       1|        12.95|             5|
|   25583|03/08/2019 21:58|          Plain Rice|       1|         2.95|            12|
|   25583|03/08/2019 21:58|          Mint Sauce|       1|          0.5|            12|
+--------+----------------+--------------------+--------+-------------+--------------+
only showing top 20 rows

In [0]:
actual_orders_2 = restaurant_2_orders.select("Item Name", "Product Price")
expected_menu_2 = restaurant_2_products_price.select("Item Name", "Product Price")
actual_orders_2 = actual_orders_2.dropDuplicates()
expected_menu_2 = expected_menu_2.dropDuplicates()

In [0]:
mistaken_items_2 = actual_orders_2.subtract(expected_menu_2)
mistaken_items_2 = mistaken_items_2.withColumnRenamed("Product Price", "Mistaken Price")
mistaken_items_2.show()

+------------------+--------------+
|         Item Name|Mistaken Price|
+------------------+--------------+
|   Vindaloo - lamb|          7.95|
|Vindaloo - chicken|          7.95|
|     Madras - lamb|          7.95|
|  Madras - chicken|          7.95|
|      Curry - lamb|          7.95|
|   Curry - chicken|          7.95|
|      Korma - lamb|          8.95|
|      Bhuna - lamb|          8.95|
|  Pathia - chicken|          8.95|
|   Cylon - chicken|          8.95|
|     Curry - prawn|          8.95|
|Mushroom - chicken|          8.95|
|   Mushroom - lamb|          8.95|
|   Methi - chicken|          8.95|
|    Dupiaza - lamb|          8.95|
|    Dhansak - lamb|          8.95|
|       Saag - lamb|          8.95|
| Dupiaza - chicken|          8.95|
|   Rogon - chicken|          8.95|
|      Rogon - lamb|          8.95|
+------------------+--------------+
only showing top 20 rows

In [0]:
expected_menu_2 = expected_menu_2.withColumnRenamed("Item Name", "Drop").withColumnRenamed("Product Price", "Actual Price")
df2 = mistaken_items_2.join(expected_menu_2, mistaken_items_2["Item Name"] == expected_menu_2["Drop"], "inner")
df2 = df2.drop("Drop")
display(df2)

Item Name,Mistaken Price,Actual Price
Mushroom,12.95,8.95
Pathia,12.95,8.95
Rogon,9.95,8.95
Bhuna,9.95,8.95
Saag,12.95,8.95
Dhansak,12.95,8.95
Korma,9.95,8.95
Dupiaza,9.95,8.95
Madras,11.95,7.95
Korma,12.95,8.95
Bhuna,12.95,8.95
Bombay,9.95,8.95
Kurma,9.95,8.95
Saag,9.95,8.95
Dhansak,9.95,8.95
Curry,11.95,7.95
Dupiaza,12.95,8.95
Malaya,9.95,8.95
Vindaloo,11.95,7.95
Kurma,12.95,8.95
Curry,8.95,7.95
Vindaloo,8.95,7.95
Pathia,9.95,8.95
Madras,8.95,7.95

In [0]:
restaurant_2_products_price = restaurant_2_products_price.withColumnRenamed("Item Name", "Menu_Item").withColumnRenamed("Product Price", "Correct_Price")
joined_order_2 = restaurant_2_orders.join(restaurant_2_products_price, restaurant_2_orders["Item Name"] == restaurant_2_products_price["Menu_Item"], "inner")
joined_order_2 = joined_order_2.drop("Product Price", "Item Name") 
joined_order_2.orderBy("Order ID", ascending=True).show()

+--------+----------------+--------+--------------+--------------------+-------------+
|Order ID|      Order Date|Quantity|Total products|           Menu_Item|Correct_Price|
+--------+----------------+--------+--------------+--------------------+-------------+
|    2096|16/12/2015 19:14|       1|             8|Chicken Tikka Jal...|         8.95|
|    2096|16/12/2015 19:14|       1|             8|          Plain Rice|         2.95|
|    2096|16/12/2015 19:14|       1|             8|         Kulcha Naan|         2.95|
|    2096|16/12/2015 19:14|       1|             8|           Aloo Gobi|         5.95|
|    2096|16/12/2015 19:14|       1|             8|          Keema Naan|         2.95|
|    2096|16/12/2015 19:14|       1|             8|         Bombay Aloo|         5.95|
|    2096|16/12/2015 19:14|       1|             8|       Peshwari Naan|         2.95|
|    4487|27/05/2016 16:42|       1|            10|          Mint Sauce|          0.5|
|    4487|27/05/2016 16:42|       1|            10|         Bombay Aloo|         5.95|
|    4487|27/05/2016 16:42|       1|            10|       Mango Chutney|          0.5|
|    4487|27/05/2016 16:42|       1|            10|    Tandoori Chicken|         4.95|
|    4487|27/05/2016 16:42|       1|            10|               Curry|         7.95|
|    4487|27/05/2016 16:42|       1|            10|         Lime Pickle|          0.5|
|    4487|27/05/2016 16:42|       1|            10|          Lemon Rice|         3.95|
|    4487|27/05/2016 16:42|       4|            10|       Plain Papadum|          0.8|
|    4487|27/05/2016 16:42|       1|            10|       Onion Chutney|          0.5|
|    4487|27/05/2016 16:42|       1|            10|Tandoori Fish Karahi|        11.95|
|    4488|27/05/2016 17:19|       1|             5|      Butter Chicken|         8.95|
|    4488|27/05/2016 17:19|       1|             5|         Saag Paneer|         5.95|
|    4488|27/05/2016 17:19|       2|             5|       Mushroom Rice|         3.95|
+--------+----------------+--------+--------------+--------------------+-------------+
only showing top 20 rows

### Data Exploration and Analysis - Which Curries, Startes and Drinks are most popular at each restaurant

In [0]:
joined_order_2 = joined_order_2.withColumn("Total_Paid", joined_order_2.Quantity * joined_order_2.Correct_Price)
joined_order_2.orderBy("Total_Paid", ascending=False).show()
joined_order_1 = joined_order_1.withColumn("Total_Paid", joined_order_1.Quantity * joined_order_1.Correct_Price)
joined_order_1.orderBy("Total_Paid", ascending=False).show()

+--------+----------------+--------+--------------+--------------------+-------------+------------------+
|Order ID|      Order Date|Quantity|Total products|           Menu_Item|Correct_Price|        Total_Paid|
+--------+----------------+--------+--------------+--------------------+-------------+------------------+
|   24419|08/06/2019 16:22|       7|            11| King Prawn Shaslick|        12.95| 90.64999999999999|
|   13900|07/01/2018 15:57|       7|             1|  Sheek Kebab (Main)|         8.95| 62.64999999999999|
|   23349|19/04/2019 19:25|       6|             4|Chicken Tikka (Main)|         8.95|53.699999999999996|
|   18847|17/09/2018 14:55|       5|             1|     Chicken Biryani|         9.95|             49.75|
|    5410|02/09/2016 17:35|       4|             2|Tandoori Mixed Grill|        11.95|              47.8|
|    8256|18/02/2017 20:52|       4|             3|Tandoori Mixed Grill|        11.95|              47.8|
|   19994|09/11/2018 18:27|       4|             3|Tandoori Mixed Grill|        11.95|              47.8|
|    4903|29/07/2016 17:42|       4|             2|Tandoori Mixed Grill|        11.95|              47.8|
|    4873|27/07/2016 18:02|       4|             2|Tandoori Mixed Grill|        11.95|              47.8|
|   17904|03/08/2018 19:21|       5|             6|Chicken Tikka (Main)|         8.95|             44.75|
|   19998|09/11/2018 18:54|       5|             8|Tandoori Chicken ...|         8.95|             44.75|
|   21512|25/01/2019 18:13|       5|             8|Chicken Tikka (Main)|         8.95|             44.75|
|   16912|09/06/2018 17:53|       5|            12|Chicken Tikka (Main)|         8.95|             44.75|
|   20488|07/12/2018 17:45|       5|            13|Chicken Tikka (Main)|         8.95|             44.75|
|   21643|31/01/2019 19:10|       5|             8|Chicken Tikka (Main)|         8.95|             44.75|
|   20407|01/12/2018 18:10|       5|            10|Chicken Tikka (Main)|         8.95|             44.75|
|   14313|29/01/2018 18:53|       5|             7|Chicken Tikka Masala|         8.95|             44.75|
|   23442|24/04/2019 18:42|       5|            10|Chicken Tikka (Main)|         8.95|             44.75|
|   22606|15/03/2019 19:38|       5|             9|Chicken Tikka (Main)|         8.95|             44.75|
|   17250|27/06/2018 18:51|       5|            10|Chicken Tikka (Main)|         8.95|             44.75|
+--------+----------------+--------+--------------+--------------------+-------------+------------------+
only showing top 20 rows

+------------+----------------+--------+--------------+--------------------+-------------+------------------+
|Order Number|      Order Date|Quantity|Total products|           Menu_Item|Correct_Price|        Total_Paid|
+------------+----------------+--------+--------------+--------------------+-------------+------------------+
|       15840|18/07/2019 18:38|      51|             1| King Prawn Shaslick|        12.95| 660.4499999999999|
|        6769|18/09/2017 16:54|      25|             8|Chicken Tikka Masala|         8.95|223.74999999999997|
|        6769|18/09/2017 16:54|      25|             8|               Korma|         8.95|223.74999999999997|
|        6769|18/09/2017 16:54|      20|             8|     Chicken Biryani|         9.95|             199.0|
|        6769|18/09/2017 16:54|      20|             8|   Vegetable Biryani|         9.95|             199.0|
|        6769|18/09/2017 16:54|      20|             8| Paneer Tikka Masala|         8.95|             179.0|
|        6769|18/09/2017 16:54|      20|             8|          Tarka Dall|         5.95|             119.0|
|        6768|18/09/2017 16:33|      20|             9|        Royal Paneer|         5.95|             119.0|
|        6768|18/09/2017 16:33|      20|             9|         Meat Samosa|         3.95|              79.0|
|        6768|18/09/2017 16:33|      20|             9|        Onion Bhajee|         3.95|              79.0|
|        6768|18/09/2017 16:33|      20|             9|     Stuffed Paratha|         3.95|              79.0|
|        6768|18/09/2017 16:33|      30|             9|          Plain Naan|          2.6|              78.0|
|        6768|18/09/2017 16:33|      15|             9|         Sheek Kebab|         4.95|             74.25|
|       11918|07/11/2018 17:53|       4|             2| House Red wine 75cl|        17.95|              71.8|
|        6168|25/07/2017 11:47|       8|             6|               Rogon|         8.95|              71.6|
|       15372|16/06/2019 18:17|       6|             5|      Butter Chicken|         9.95|59.699999999999996|
|       12369|07/12/2018 21:36|       6|             3|     Chicken Biryani|         9.95|59.699999999999996|
|        6768|18/09/2017 16:33|      20|             9|             Paratha|         2.95|              59.0|
|        6768|18/09/2017 16:33|      20|             9|              Raitha|         2.95|              59.0|
|        6768|18/09/2017 16:33|      20|             9|         Green Salad|         2.95|              59.0|
+------------+----------------+--------+--------------+--------------------+-------------+------------------+
only showing top 20 rows

- problems with restaurant 1, orders of 51 King prawn shashlicks, 6769 has ordered 130 curries. Removal of some Order Numbers is in order.

In [0]:
from pyspark.sql.functions import sum
joined_order_2.groupBy("Order ID").agg(sum("Total_Paid").alias("Overall Paid By Order ID")).orderBy("Overall Paid By Order ID", ascending = False).show()
## Order IDs with the most money spent in restaurant 2

+--------+------------------------+
|Order ID|Overall Paid By Order ID|
+--------+------------------------+
|    7952|                   283.3|
|   13246|                   234.5|
|   19569|      183.65000000000003|
|   22328|      182.35000000000002|
|   14224|                  177.55|
|   24856|      175.95000000000002|
|   21984|                  171.05|
|    5170|      167.60000000000002|
|   24855|                   167.0|
|   24419|                   161.1|
|   19962|      160.60000000000002|
|   11656|                  158.45|
|   17705|      158.20000000000002|
|    5429|                   158.0|
|    9511|                  157.05|
|   24878|                  155.25|
|   19563|      154.35000000000002|
|   21228|      151.10000000000002|
|   17228|                   149.7|
|   16495|                  149.05|
+--------+------------------------+
only showing top 20 rows

In [0]:
top_orders_2 = joined_order_2.groupBy("Menu_Item").agg(sum("Total_Paid").alias("Total Paid for each Menu Item"))
top_orders_1 = joined_order_1.groupBy("Menu_Item").agg(sum("Total_Paid").alias("Total Paid for each Menu Item"))
# Grouping by Menu Item and summing the total money spent up
top_orders_1.show()

+--------------------+-----------------------------+
|           Menu_Item|Total Paid for each Menu Item|
+--------------------+-----------------------------+
|          Mint Sauce|                        920.0|
|  Bengal Fish Karahi|                        233.1|
|      Dupiaza - Lamb|            331.1499999999999|
|Perrier Water (75...|                        67.15|
|    Lamb Tikka Balti|            744.5999999999996|
|   Vegetable Biryani|           3631.7500000000095|
|     Mushroom Bhajee|           1993.2500000000055|
|     Bhuna - Chicken|            1888.450000000003|
|           Saag Aloo|            7342.299999999928|
|             Dhansak|            3463.650000000011|
|        Madras Sauce|            533.2499999999993|
| Prier Water (750ml)|                        43.45|
|            Vindaloo|           2218.0500000000047|
|        Onion Bhajee|           10850.649999999776|
|         Prawn Puree|            2059.200000000006|
|  Korma - King Prawn|                        259.0|
|        Saag - Prawn|                         99.5|
|             Dupiaza|            1691.550000000002|
|     Chicken Biryani|            7671.449999999962|
|   Lamb Tikka (Main)|           1360.4000000000008|
+--------------------+-----------------------------+
only showing top 20 rows

In [0]:
restaurant_2_products_price.head(302)
restaurant_1_products_price.head(248)

Out[38]: [Row(Menu_Item='Mint Sauce', Correct_Price=0.5),
 Row(Menu_Item='Lime Pickle', Correct_Price=0.5),
 Row(Menu_Item='Mango Chutney', Correct_Price=0.5),
 Row(Menu_Item='Red Sauce', Correct_Price=0.5),
 Row(Menu_Item='Onion Chutney', Correct_Price=0.5),
 Row(Menu_Item='Plain Papadum', Correct_Price=0.8),
 Row(Menu_Item='Spicy Papadum', Correct_Price=0.8),
 Row(Menu_Item='Chapati', Correct_Price=1.95),
 Row(Menu_Item='Puree', Correct_Price=1.95),
 Row(Menu_Item='Tandoori Roti', Correct_Price=2.6),
 Row(Menu_Item='Plain Naan', Correct_Price=2.6),
 Row(Menu_Item='Raitha', Correct_Price=2.95),
 Row(Menu_Item='Keema Naan', Correct_Price=2.95),
 Row(Menu_Item='Peshwari Naan', Correct_Price=2.95),
 Row(Menu_Item='Pilau Rice', Correct_Price=2.95),
 Row(Menu_Item='Green Salad', Correct_Price=2.95),
 Row(Menu_Item='Bottle Coke', Correct_Price=2.95),
 Row(Menu_Item='Plain Rice', Correct_Price=2.95),
 Row(Menu_Item='Garlic Naan', Correct_Price=2.95),
 Row(Menu_Item='Onion Naan', Correct_Price=2.95),
 Row(Menu_Item='Paratha', Correct_Price=2.95),
 Row(Menu_Item='Bottle Diet Coke', Correct_Price=2.95),
 Row(Menu_Item='Kulcha Naan', Correct_Price=2.95),
 Row(Menu_Item='Lemonade 1.5 ltr', Correct_Price=2.95),
 Row(Menu_Item='Diet Coke 1.5 ltr', Correct_Price=2.95),
 Row(Menu_Item='Coke 1.5 ltr', Correct_Price=2.95),
 Row(Menu_Item='Dhansak Sauce', Correct_Price=3.95),
 Row(Menu_Item='Onion Bhajee', Correct_Price=3.95),
 Row(Menu_Item='Lemon Rice', Correct_Price=3.95),
 Row(Menu_Item='French Fries', Correct_Price=3.95),
 Row(Menu_Item='Garlic Rice', Correct_Price=3.95),
 Row(Menu_Item='Onion Rice', Correct_Price=3.95),
 Row(Menu_Item='Perrier Water (750ml)', Correct_Price=3.95),
 Row(Menu_Item='Special Fried Rice', Correct_Price=3.95),
 Row(Menu_Item='Meat Samosa', Correct_Price=3.95),
 Row(Menu_Item='Mushroom Rice', Correct_Price=3.95),
 Row(Menu_Item='Korma Sauce', Correct_Price=3.95),
 Row(Menu_Item='Vegetable Rice', Correct_Price=3.95),
 Row(Menu_Item='Egg Rice', Correct_Price=3.95),
 Row(Menu_Item='Curry Sauce', Correct_Price=3.95),
 Row(Menu_Item='Egg Paratha', Correct_Price=3.95),
 Row(Menu_Item='Keema Rice', Correct_Price=3.95),
 Row(Menu_Item='Stuffed Paratha', Correct_Price=3.95),
 Row(Menu_Item='COBRA (330ML)', Correct_Price=3.95),
 Row(Menu_Item='Saag Rice', Correct_Price=3.95),
 Row(Menu_Item='Masala Sauce', Correct_Price=3.95),
 Row(Menu_Item='Madras Sauce', Correct_Price=3.95),
 Row(Menu_Item='Vindaloo Sauce', Correct_Price=3.95),
 Row(Menu_Item='Bengal Salad', Correct_Price=3.95),
 Row(Menu_Item='Still Water (750ml)', Correct_Price=3.95),
 Row(Menu_Item='Prier Water (750ml)', Correct_Price=3.95),
 Row(Menu_Item='Onion Bhaji', Correct_Price=3.95),
 Row(Menu_Item='Chicken Tikka', Correct_Price=3.95),
 Row(Menu_Item='Aloo Chaat', Correct_Price=4.95),
 Row(Menu_Item='Tandoori Chicken (1/4)', Correct_Price=4.95),
 Row(Menu_Item='Chicken Chaat', Correct_Price=4.95),
 Row(Menu_Item='Prawn Puree', Correct_Price=4.95),
 Row(Menu_Item='Lamb Tikka', Correct_Price=4.95),
 Row(Menu_Item='Vegetable Roll', Correct_Price=4.95),
 Row(Menu_Item='Sheek Kebab', Correct_Price=4.95),
 Row(Menu_Item='Sheek Kehab', Correct_Price=4.95),
 Row(Menu_Item='Vegetable Samosa', Correct_Price=4.95),
 Row(Menu_Item='King Prawn Puree', Correct_Price=5.95),
 Row(Menu_Item='Bhindi Bhajee', Correct_Price=5.95),
 Row(Menu_Item='Tarka Dall', Correct_Price=5.95),
 Row(Menu_Item='Saag Paneer', Correct_Price=5.95),
 Row(Menu_Item='Baingan Hari Mirch', Correct_Price=5.95),
 Row(Menu_Item='Chicken Pakora', Correct_Price=5.95),
 Row(Menu_Item='COBRA ( LARGE )', Correct_Price=5.95),
 Row(Menu_Item='Royal Paneer', Correct_Price=5.95),
 Row(Menu_Item='Muttar Paneer', Correct_Price=5.95),
 Row(Menu_Item='Chana Masala', Correct_Price=5.95),
 Row(Menu_Item='Bombay Aloo', Correct_Price=5.95),
 Row(Menu_Item='Saag Aloo', Correct_Price=5.95),
 Row(Menu_Item='Aloo Methi', Correct_Price=5.95),
 Row(Menu_Item='Saag Bhajee', Correct_Price=5.95),
 Row(Menu_Item='Cauliflower Bhajee', Correct_Price=5.95),
 Row(Menu_Item='Saag Dall', Correct_Price=5.95),
 Row(Menu_Item='Aloo Gobi', Correct_Price=5.95),
 Row(Menu_Item='Mixed Vegetable Curry', Correct_Price=5.95),
 Row(Menu_Item='Mushroom Bhajee', Correct_Price=5.95),
 Row(Menu_Item='Mixed Starter', Correct_Price=5.95),
 Row(Menu_Item='Tandoori Fish', Correct_Price=5.95),
 Row(Menu_Item='Brinjal Bhajee', Correct_Price=5.95),
 Row(Menu_Item='Vegetable Mysore', Correct_Price=5.95),
 Row(Menu_Item='King Prawn Butterfly', Correct_Price=5.95),
 Row(Menu_Item='Dall Samba', Correct_Price=5.95),
 Row(Menu_Item='COBRA (660ML)', Correct_Price=5.95),
 Row(Menu_Item='Chicken Chaat Main', Correct_Price=7.9),
 Row(Menu_Item='Madras - Chicken', Correct_Price=7.95),
 Row(Menu_Item='Madras - Lamb', Correct_Price=7.95),
 Row(Menu_Item='Curry - Chicken', Correct_Price=7.95),
 Row(Menu_Item='Vindaloo - Chicken', Correct_Price=7.95),
 Row(Menu_Item='Madras - Chicken Tikka', Correct_Price=7.95),
 Row(Menu_Item='Curry - Lamb', Correct_Price=7.95),
 Row(Menu_Item='Curry - Chicken Tikka', Correct_Price=7.95),
 Row(Menu_Item='Vindaloo - Chicken Tikka', Correct_Price=7.95),
 Row(Menu_Item='Vindaloo - Lamb', Correct_Price=7.95),
 Row(Menu_Item='Madras', Correct_Price=7.95),
 Row(Menu_Item='Curry', Correct_Price=7.95),
 Row(Menu_Item='Vindaloo', Correct_Price=7.95),
 Row(Menu_Item='Korma - Chicken', Correct_Price=8.95),
 Row(Menu_Item='Chicken Tikka Masala', Correct_Price=8.95),
 Row(Menu_Item='Pathia - Chicken Tikka', Correct_Price=8.95),
 Row(Menu_Item='Chicken Tikka Jalfrezi', Correct_Price=8.95),
 Row(Menu_Item='Methi - Lamb', Correct_Price=8.95),
 Row(Menu_Item='Tandoori Chicken (Main)', Correct_Price=8.95),
 Row(Menu_Item='Bhuna - Chicken', Correct_Price=8.95),
 Row(Menu_Item='Korma - Chicken Tikka', Correct_Price=8.95),
 Row(Menu_Item='Chicken Tikka (Main)', Correct_Price=8.95),
 Row(Menu_Item='Paneer Tikka Masala', Correct_Price=8.95),
 Row(Menu_Item='Dupiaza - Chicken', Correct_Price=8.95),
 Row(Menu_Item='Bhuna - Chicken Tikka', Correct_Price=8.95),
 Row(Menu_Item='Pathia - Lamb', Correct_Price=8.95),
 Row(Menu_Item='Chicken Karahi', Correct_Price=8.95),
 Row(Menu_Item='Bhuna - Lamb', Correct_Price=8.95),
 Row(Menu_Item='Dhansak - Chicken Tikka', Correct_Price=8.95),
 Row(Menu_Item='Dhansak - Chicken', Correct_Price=8.95),
 Row(Menu_Item='Rogon - Lamb', Correct_Price=8.95),
 Row(Menu_Item='Chicken Tikka Pasanda', Correct_Price=8.95),
 Row(Menu_Item='Pathia - Chicken', Correct_Price=8.95),
 Row(Menu_Item='Lamb Tikka Masala', Correct_Price=8.95),
 Row(Menu_Item='Lamb Tikka Jalfrezi', Correct_Price=8.95),
 Row(Menu_Item='Lamb Karahi', Correct_Price=8.95),
 Row(Menu_Item='Madras - Prawn', Correct_Price=8.95),
 Row(Menu_Item='Lamb Tikka (Main)', Correct_Price=8.95),
 Row(Menu_Item='Lamb Tikka Pasanda', Correct_Price=8.95),
 Row(Menu_Item='Lamb Tikka Garlic', Correct_Price=8.95),
 Row(Menu_Item='Chicken Tikka Garlic', Correct_Price=8.95),
 Row(Menu_Item='Chicken Tikka Chilli Masala', Correct_Price=8.95),
 Row(Menu_Item='Dupiaza - Chicken Tikka', Correct_Price=8.95),
 Row(Menu_Item='Mushroom - Chicken', Correct_Price=8.95),
 Row(Menu_Item='Dhansak - Lamb', Correct_Price=8.95),
 Row(Menu_Item='Sheek Kebab (Main)', Correct_Price=8.95),
 Row(Menu_Item='Saag - Chicken', Correct_Price=8.95),
 Row(Menu_Item='Tandoori Chicken Masala', Correct_Price=8.95),
 Row(Menu_Item='Saag - Chicken Tikka', Correct_Price=8.95),
 Row(Menu_Item='Dupiaza - Lamb', Correct_Price=8.95),
 Row(Menu_Item='Curry - Prawn', Correct_Price=8.95),
 Row(Menu_Item='Saag - Lamb', Correct_Price=8.95),
 Row(Menu_Item='Korma - Lamb', Correct_Price=8.95),
 Row(Menu_Item='Mushroom - Lamb', Correct_Price=8.95),
 Row(Menu_Item='Rogon - Chicken Tikka', Correct_Price=8.95),
 Row(Menu_Item='Lamb Tikka Chilli Masala', Correct_Price=8.95),
 Row(Menu_Item='Vindaloo - Prawn', Correct_Price=8.95),
 Row(Menu_Item='Methi - Chicken Tikka', Correct_Price=8.95),
 Row(Menu_Item='Vegetable Karahi', Correct_Price=8.95),
 Row(Menu_Item='Rogon - Chicken', Correct_Price=8.95),
 Row(Menu_Item='Mushroom - Chicken Tikka', Correct_Price=8.95),
 Row(Menu_Item='Methi - Chicken', Correct_Price=8.95),
 Row(Menu_Item='Lamb Tikka Jeera', Correct_Price=8.95),
 Row(Menu_Item='Chicken Tikka Jeera', Correct_Price=8.95),
 Row(Menu_Item='Bhuna', Correct_Price=8.95),
 Row(Menu_Item='Saag', Correct_Price=8.95),
 Row(Menu_Item='Dhansak', Correct_Price=8.95),
 Row(Menu_Item='Pathia', Correct_Price=8.95),
 Row(Menu_Item='Korma', Correct_Price=8.95),
 Row(Menu_Item='Dupiaza', Correct_Price=8.95),
 Row(Menu_Item='Methi', Correct_Price=8.95),
 Row(Menu_Item='Rogon', Correct_Price=8.95),
 Row(Menu_Item='Mushroom', Correct_Price=8.95),
 Row(Menu_Item='Tandoori Chicken', Correct_Price=8.95),
 Row(Menu_Item='Chicken Shashlick', Correct_Price=9.95),
 Row(Menu_Item='Chicken Roshni', Correct_Price=9.95),
 Row(Menu_Item='Chicken Balti', Correct_Price=9.95),
 Row(Menu_Item='Lamb Balti', Correct_Price=9.95),
 Row(Menu_Item='Butter Chicken', Correct_Price=9.95),
 Row(Menu_Item='Lamb Hari Mirch', Correct_Price=9.95),
 Row(Menu_Item='Chicken Chilli Garlic', Correct_Price=9.95),
 Row(Menu_Item='Lamb Biryani', Correct_Price=9.95),
 Row(Menu_Item='Vegetable Biryani', Correct_Price=9.95),
 Row(Menu_Item='Chicken Rezala', Correct_Price=9.95),
 Row(Menu_Item='Lamb Rezala', Correct_Price=9.95),
 Row(Menu_Item='Chicken Tikka Karahi', Correct_Price=9.95),
 Row(Menu_Item='Chicken Hari Mirch', Correct_Price=9.95),
 Row(Menu_Item='Chicken Biryani', Correct_Price=9.95),
 Row(Menu_Item='Lamb Shashlick', Correct_Price=9.95),
 Row(Menu_Item='Bhuna - Prawn', Correct_Price=9.95),
 Row(Menu_Item='Chicken Haryali', Correct_Price=9.95),
 Row(Menu_Item='Lamb Chilli Garlic', Correct_Price=9.95),
 Row(Menu_Item='Paneer Shaslick', Correct_Price=9.95),
 Row(Menu_Item='Chicken Mysore', Correct_Price=9.95),
 Row(Menu_Item='Paneer Tikka Karahi', Correct_Price=9.95),
 Row(Menu_Item='Lamb Achar', Correct_Price=9.95),
 Row(Menu_Item='Paneer Tikka Sizzler', Correct_Price=9.95),
 Row(Menu_Item='Chicken Tikka Sizzler', Correct_Price=9.95),
 Row(Menu_Item='Lal Mirch Chicken', Correct_Price=9.95),
 Row(Menu_Item='Lamb Tikka Karahi', Correct_Price=9.95),
 Row(Menu_Item='Prawn Karahi', Correct_Price=9.95),
 Row(Menu_Item='Lal Mirch Lamb', Correct_Price=9.95),
 Row(Menu_Item='Korma - Prawn', Correct_Price=9.95),
 Row(Menu_Item='Lamb Haryali', Correct_Price=9.95),
 Row(Menu_Item='Lamb Sylhet', Correct_Price=9.95),
 Row(Menu_Item='Vegetable Balti', Correct_Price=9.95),
 Row(Menu_Item='Dhansak - Prawn', Correct_Price=9.95),
 Row(Menu_Item='Lamb Mysore', Correct_Price=9.95),
 Row(Menu_Item='Chicken Sylhet', Correct_Price=9.95),
 Row(Menu_Item='Lamb Tikka Sizzler', Correct_Price=9.95),
 Row(Menu_Item='Pathia - Prawn', Correct_Price=9.95),
 Row(Menu_Item='Chicken Achar', Correct_Price=9.95),
 Row(Menu_Item='Dupiaza - Prawn', Correct_Price=9.95),
 Row(Menu_Item='Lamb Roshni', Correct_Price=9.95),
 Row(Menu_Item='Saag - Prawn', Correct_Price=9.95),
 Row(Menu_Item='Methi - Prawn', Correct_Price=9.95),
 Row(Menu_Item='Rogon - Prawn', Correct_Price=9.95),
 Row(Menu_Item='Mushroom - Prawn', Correct_Price=9.95),
 Row(Menu_Item='Lamb Tikka Biryani', Correct_Price=10.95),
 Row(Menu_Item='Chicken Tikka Balti', Correct_Price=10.95),
 Row(Menu_Item='Lamb Tikka Balti', Correct_Price=10.95),
 Row(Menu_Item='Prawn Biryani', Correct_Price=10.95),
 Row(Menu_Item='Paneer Tikka Balti', Correct_Price=10.95),
 Row(Menu_Item='Chicken Tikka Biryani', Correct_Price=10.95),
 Row(Menu_Item='Persian Lamb Biryani', Correct_Price=10.95),
 Row(Menu_Item='Prawn Balti', Correct_Price=10.95),
 Row(Menu_Item='Persian Chicken Biryani', Correct_Price=10.95),
 Row(Menu_Item='Lamb Persian', Correct_Price=10.95),
 Row(Menu_Item='Tandoori Mixed Grill', Correct_Price=11.95),
 Row(Menu_Item='Curry - King Prawn', Correct_Price=11.95),
 Row(Menu_Item='Madras - King Prawn', Correct_Price=11.95),
 Row(Menu_Item='Tandoori Fish (Main)', Correct_Price=11.95),
 Row(Menu_Item='Vindaloo - King Prawn', Correct_Price=11.95),
 Row(Menu_Item='Tandoori King Prawn Garlic', Correct_Price=12.95),
 Row(Menu_Item='Chicken Shashlick Curry', Correct_Price=12.95),
 Row(Menu_Item='King Prawn Hari Mirch', Correct_Price=12.95),
 Row(Menu_Item='Hazary Lamb Chilli Garlic', Correct_Price=12.95),
 Row(Menu_Item='Lamb Shashlick Curry', Correct_Price=12.95),
 Row(Menu_Item='King Prawn Shaslick', Correct_Price=12.95),
 Row(Menu_Item='Dhansak - King Prawn', Correct_Price=12.95),
 Row(Menu_Item='Bengal King Prawn', Correct_Price=12.95),
 Row(Menu_Item='Korma - King Prawn', Correct_Price=12.95),
 Row(Menu_Item='Bhuna - King Prawn', Correct_Price=12.95),
 Row(Menu_Item='Hazary Lamb', Correct_Price=12.95),
 Row(Menu_Item='Bengal Fish Biryani', Correct_Price=12.95),
 Row(Menu_Item='Tandoori King Prawn Masala', Correct_Price=12.95),
 Row(Menu_Item='King Prawn Biryani', Correct_Price=12.95),
 Row(Menu_Item='Saag - King Prawn', Correct_Price=12.95),
 Row(Menu_Item='Dupiaza - King Prawn', Correct_Price=12.95),
 Row(Menu_Item='Pathia - King Prawn', Correct_Price=12.95),
 Row(Menu_Item='Bengal Fry Fish', Correct_Price=12.95),
 Row(Menu_Item='King Prawn Balti', Correct_Price=12.95),
 Row(Menu_Item='Bengal Fish Karahi', Correct_Price=12.95),
 Row(Menu_Item='Rogon - King Prawn', Correct_Price=12.95),
 Row(Menu_Item='Mushroom - King Prawn', Correct_Price=12.95),
 Row(Menu_Item='King Prawn Karahi', Correct_Price=12.95),
 Row(Menu_Item='Methi - King Prawn', Correct_Price=12.95),
 Row(Menu_Item='Kurma', Correct_Price=12.95),
 Row(Menu_Item='House Red wine 75cl', Correct_Price=17.95),
 Row(Menu_Item='House white wine 75cl', Correct_Price=17.95)]

- make 3 separate dataframes each to store one of (Mains, Starters and Drinks)
- so I can compare the top 5 dishes or drinks in each category between the two different restaurants based on the sales

In [0]:
starters_restaurant_1 = restaurant_1_products_price.select("Menu_Item", "Correct_Price").where(restaurant_1_products_price.Correct_Price.between(0, 7.00))
starters_restaurant_1.show()
### created starters only menu, with a few drinks inside still that need to be removed, firstly will make mains menu and drinks menu.

+-------------+-------------+
|    Menu_Item|Correct_Price|
+-------------+-------------+
|   Mint Sauce|          0.5|
|  Lime Pickle|          0.5|
|Mango Chutney|          0.5|
|    Red Sauce|          0.5|
|Onion Chutney|          0.5|
|Plain Papadum|          0.8|
|Spicy Papadum|          0.8|
|      Chapati|         1.95|
|        Puree|         1.95|
|Tandoori Roti|          2.6|
|   Plain Naan|          2.6|
|       Raitha|         2.95|
|   Keema Naan|         2.95|
|Peshwari Naan|         2.95|
|   Pilau Rice|         2.95|
|  Green Salad|         2.95|
|  Bottle Coke|         2.95|
|   Plain Rice|         2.95|
|  Garlic Naan|         2.95|
|   Onion Naan|         2.95|
+-------------+-------------+
only showing top 20 rows

In [0]:
mains_restaurant_1 = restaurant_1_products_price.select("Menu_Item", "Correct_Price").where(restaurant_1_products_price.Correct_Price.between(7.90, 12.95))
mains_restaurant_1.show()

+--------------------+-------------+
|           Menu_Item|Correct_Price|
+--------------------+-------------+
|  Chicken Chaat Main|          7.9|
|    Madras - Chicken|         7.95|
|       Madras - Lamb|         7.95|
|     Curry - Chicken|         7.95|
|  Vindaloo - Chicken|         7.95|
|Madras - Chicken ...|         7.95|
|        Curry - Lamb|         7.95|
|Curry - Chicken T...|         7.95|
|Vindaloo - Chicke...|         7.95|
|     Vindaloo - Lamb|         7.95|
|              Madras|         7.95|
|               Curry|         7.95|
|            Vindaloo|         7.95|
|     Korma - Chicken|         8.95|
|Chicken Tikka Masala|         8.95|
|Pathia - Chicken ...|         8.95|
|Chicken Tikka Jal...|         8.95|
|        Methi - Lamb|         8.95|
|Tandoori Chicken ...|         8.95|
|     Bhuna - Chicken|         8.95|
+--------------------+-------------+
only showing top 20 rows

In [0]:
drinks = ['COBRA ( LARGE )', 'COBRA (660ML)', 'Prier Water (750ml)', 'Still Water (750ml)', 'COBRA (330ml)', 'Perrier Water (750ml)', 'Coke 1.5 ltr', 'Diet Coke 1.5 ltr', 'Lemonade 1.5 ltr', 'Bottle Diet Coke', 'House Red wine 75cl', 'House white wine 75cl']
drinks_restaurant_1 = restaurant_1_products_price.filter(restaurant_1_products_price['Menu_Item'].isin(drinks))
drinks_restaurant_1.show()

+--------------------+-------------+
|           Menu_Item|Correct_Price|
+--------------------+-------------+
|    Bottle Diet Coke|         2.95|
|    Lemonade 1.5 ltr|         2.95|
|   Diet Coke 1.5 ltr|         2.95|
|        Coke 1.5 ltr|         2.95|
|Perrier Water (75...|         3.95|
| Still Water (750ml)|         3.95|
| Prier Water (750ml)|         3.95|
|     COBRA ( LARGE )|         5.95|
|       COBRA (660ML)|         5.95|
| House Red wine 75cl|        17.95|
|House white wine ...|        17.95|
+--------------------+-------------+

In [0]:
starters_restaurant_2 = restaurant_2_products_price.select("Menu_Item", "Correct_Price").where(restaurant_2_products_price.Correct_Price.between(0, 5.95))
mains_restaurant_2 = restaurant_2_products_price.select("Menu_Item", "Correct_Price").where(restaurant_2_products_price.Correct_Price.between(6.95, 12.95))
drinks_2 = ['COBRA ( LARGE )', 'COBRA (660ML)', 'Prier Water (750ml)', 'Still Water (750ml)', 'COBRA (330ml)', 'Perrier Water (750ml)', 'Coke 1.5 ltr', 'Diet Coke 1.5 ltr', 'Lemonade 1.5 ltr', 'Bottle Diet Coke', 'House Red wine 75cl', 'House white wine 75cl']
drinks_restaurant_2 = restaurant_2_products_price.filter(restaurant_2_products_price['Menu_Item'].isin(drinks_2))

In [0]:
starters_restaurant_1_joined = starters_restaurant_1.join(top_orders_1, starters_restaurant_1.Menu_Item == top_orders_1.Menu_Item, "inner")
starters_restaurant_2_joined = starters_restaurant_2.join(top_orders_2, starters_restaurant_2.Menu_Item == top_orders_2.Menu_Item, "inner")
mains_restaurant_1_joined = mains_restaurant_1.join(top_orders_1, mains_restaurant_1.Menu_Item == top_orders_1.Menu_Item, "inner")
mains_restaurant_2_joined = mains_restaurant_2.join(top_orders_2, mains_restaurant_2.Menu_Item == top_orders_2.Menu_Item, "inner")
drinks_restaurant_1_joined = drinks_restaurant_1.join(top_orders_1, drinks_restaurant_1.Menu_Item == top_orders_1.Menu_Item, "inner")
drinks_restaurant_2_joined = drinks_restaurant_2.join(top_orders_2, drinks_restaurant_2.Menu_Item == top_orders_2.Menu_Item, "inner")
### combining the total spent on each menu item with the separate menus to create some graphs

In [0]:
starters_restaurant_1_joined.orderBy("Total Paid for each Menu Item", ascending=False).show(5)
starters_restaurant_2_joined.orderBy("Total Paid for each Menu Item", ascending=False).show(5)

+------------+-------------+------------+-----------------------------+
|   Menu_Item|Correct_Price|   Menu_Item|Total Paid for each Menu Item|
+------------+-------------+------------+-----------------------------+
|  Pilau Rice|         2.95|  Pilau Rice|           18782.649999999838|
|  Plain Naan|          2.6|  Plain Naan|           12953.200000000208|
| Bombay Aloo|         5.95| Bombay Aloo|            10894.44999999983|
|Onion Bhajee|         3.95|Onion Bhajee|           10850.649999999776|
| Garlic Naan|         2.95| Garlic Naan|            9788.099999999806|
+------------+-------------+------------+-----------------------------+
only showing top 5 rows

+-------------+-------------+-------------+-----------------------------+
|    Menu_Item|Correct_Price|    Menu_Item|Total Paid for each Menu Item|
+-------------+-------------+-------------+-----------------------------+
|   Pilau Rice|         2.95|   Pilau Rice|            34668.40000000031|
|  Bombay Aloo|         5.95|  Bombay Aloo|            25799.19999999997|
|         Naan|          2.5|         Naan|                      21817.5|
|  Onion Bhaji|         3.95|  Onion Bhaji|           15661.749999999676|
|Plain Papadum|          0.8|Plain Papadum|           14443.200000000055|
+-------------+-------------+-------------+-----------------------------+
only showing top 5 rows

In [0]:
mains_restaurant_1_joined.orderBy("Total Paid for each Menu Item", ascending=False).show(5)
mains_restaurant_2_joined.orderBy("Total Paid for each Menu Item", ascending=False).show(5)

+--------------------+-------------+--------------------+-----------------------------+
|           Menu_Item|Correct_Price|           Menu_Item|Total Paid for each Menu Item|
+--------------------+-------------+--------------------+-----------------------------+
|Chicken Tikka Masala|         8.95|Chicken Tikka Masala|           22133.350000000122|
|               Korma|         8.95|               Korma|            12046.69999999988|
|      Butter Chicken|         9.95|      Butter Chicken|            10626.59999999991|
|     Korma - Chicken|         8.95|     Korma - Chicken|            9764.449999999928|
|Tandoori Mixed Grill|        11.95|Tandoori Mixed Grill|            8544.249999999953|
+--------------------+-------------+--------------------+-----------------------------+
only showing top 5 rows

+--------------------+-------------+--------------------+-----------------------------+
|           Menu_Item|Correct_Price|           Menu_Item|Total Paid for each Menu Item|
+--------------------+-------------+--------------------+-----------------------------+
|Chicken Tikka Masala|         8.95|Chicken Tikka Masala|            35522.55000000035|
|               Korma|         8.95|               Korma|           17533.049999999836|
|      Butter Chicken|         8.95|      Butter Chicken|            15143.39999999987|
|              Madras|         7.95|              Madras|           14914.199999999848|
|Chicken Tikka (Main)|         8.95|Chicken Tikka (Main)|           13514.499999999898|
+--------------------+-------------+--------------------+-----------------------------+
only showing top 5 rows

In [0]:
drinks_restaurant_1_joined.orderBy("Total Paid for each Menu Item", ascending=False).show(5)
drinks_restaurant_2_joined.orderBy("Total Paid for each Menu Item", ascending=False).show(5)

+--------------------+-------------+--------------------+-----------------------------+
|           Menu_Item|Correct_Price|           Menu_Item|Total Paid for each Menu Item|
+--------------------+-------------+--------------------+-----------------------------+
| House Red wine 75cl|        17.95| House Red wine 75cl|            2369.400000000002|
|       COBRA (660ML)|         5.95|       COBRA (660ML)|           1094.8000000000018|
|House white wine ...|        17.95|House white wine ...|            933.4000000000007|
|        Coke 1.5 ltr|         2.95|        Coke 1.5 ltr|            513.2999999999987|
|    Lemonade 1.5 ltr|         2.95|    Lemonade 1.5 ltr|            315.6499999999994|
+--------------------+-------------+--------------------+-----------------------------+
only showing top 5 rows

+--------------------+-------------+--------------------+-----------------------------+
|           Menu_Item|Correct_Price|           Menu_Item|Total Paid for each Menu Item|
+--------------------+-------------+--------------------+-----------------------------+
|       COBRA (660ML)|          5.5|       COBRA (660ML)|                       2150.5|
|House white wine ...|        17.95|House white wine ...|            1400.100000000002|
|        Coke 1.5 ltr|         2.95|        Coke 1.5 ltr|            767.0000000000025|
|     COBRA ( LARGE )|          5.5|     COBRA ( LARGE )|                        533.5|
| House Red wine 75cl|        17.95| House Red wine 75cl|           394.89999999999986|
+--------------------+-------------+--------------------+-----------------------------+
only showing top 5 rows

In [0]:
display(drinks_restaurant_1_joined)

Menu_Item,Correct_Price,Menu_Item,Total Paid for each Menu Item
Perrier Water (750ml),3.95,Perrier Water (750ml),67.15
Prier Water (750ml),3.95,Prier Water (750ml),43.45
House white wine 75cl,17.95,House white wine 75cl,933.4000000000007
Coke 1.5 ltr,2.95,Coke 1.5 ltr,513.2999999999987
COBRA ( LARGE ),5.95,COBRA ( LARGE ),273.6999999999999
Lemonade 1.5 ltr,2.95,Lemonade 1.5 ltr,315.6499999999994
Diet Coke 1.5 ltr,2.95,Diet Coke 1.5 ltr,286.14999999999947
House Red wine 75cl,17.95,House Red wine 75cl,2369.400000000002
Still Water (750ml),3.95,Still Water (750ml),189.6
Bottle Diet Coke,2.95,Bottle Diet Coke,168.14999999999995
COBRA (660ML),5.95,COBRA (660ML),1094.8000000000018

Databricks visualization. Run in Databricks to view.

In [0]:
display(drinks_restaurant_2_joined)

Menu_Item,Correct_Price,Menu_Item,Total Paid for each Menu Item
House white wine 75cl,17.95,House white wine 75cl,1400.100000000002
COBRA ( LARGE ),5.5,COBRA ( LARGE ),533.5
Coke 1.5 ltr,2.95,Coke 1.5 ltr,767.0000000000025
Lemonade 1.5 ltr,2.95,Lemonade 1.5 ltr,318.59999999999934
Diet Coke 1.5 ltr,2.95,Diet Coke 1.5 ltr,171.0999999999999
House Red wine 75cl,17.95,House Red wine 75cl,394.89999999999986
Bottle Diet Coke,2.95,Bottle Diet Coke,188.79999999999987
COBRA (660ML),5.5,COBRA (660ML),2150.5

Databricks visualization. Run in Databricks to view.

In [0]:
display(mains_restaurant_1_joined)

Menu_Item,Correct_Price,Menu_Item,Total Paid for each Menu Item
Bengal Fish Karahi,12.95,Bengal Fish Karahi,233.1
Dupiaza - Lamb,8.95,Dupiaza - Lamb,331.1499999999999
Lamb Tikka Balti,10.95,Lamb Tikka Balti,744.5999999999996
Vegetable Biryani,9.95,Vegetable Biryani,3631.7500000000095
Bhuna - Chicken,8.95,Bhuna - Chicken,1888.450000000003
Dhansak,8.95,Dhansak,3463.650000000011
Vindaloo,7.95,Vindaloo,2218.0500000000047
Korma - King Prawn,12.95,Korma - King Prawn,259.0
Saag - Prawn,9.95,Saag - Prawn,99.5
Dupiaza,8.95,Dupiaza,1691.550000000002
Chicken Biryani,9.95,Chicken Biryani,7671.449999999962
Lamb Tikka (Main),8.95,Lamb Tikka (Main),1360.4000000000008
Korma - Chicken Tikka,8.95,Korma - Chicken Tikka,545.9499999999997
Paneer Tikka Sizzler,9.95,Paneer Tikka Sizzler,666.6499999999996
Tandoori Chicken,8.95,Tandoori Chicken,8.95
Paneer Tikka Karahi,9.95,Paneer Tikka Karahi,1024.8499999999997
King Prawn Biryani,12.95,King Prawn Biryani,841.7499999999995
Saag - Lamb,8.95,Saag - Lamb,689.1499999999996
Korma,8.95,Korma,12046.69999999988
Pathia - Lamb,8.95,Pathia - Lamb,196.90000000000003
Dupiaza - Prawn,9.95,Dupiaza - Prawn,129.35
Tandoori Chicken (Main),8.95,Tandoori Chicken (Main),3615.800000000011
Chicken Tikka Masala,8.95,Chicken Tikka Masala,22133.350000000122
Rogon,8.95,Rogon,1646.8000000000015
Bhuna - Lamb,8.95,Bhuna - Lamb,1091.8999999999999
Bengal King Prawn,12.95,Bengal King Prawn,1411.5500000000006
Curry,7.95,Curry,4905.15
Tandoori Chicken Masala,8.95,Tandoori Chicken Masala,1897.4000000000033
Saag - King Prawn,12.95,Saag - King Prawn,271.95
Chicken Tikka Jalfrezi,8.95,Chicken Tikka Jalfrezi,4304.950000000004
Chicken Tikka Karahi,9.95,Chicken Tikka Karahi,1164.1499999999999
Pathia,8.95,Pathia,1593.100000000002
Rogon - Lamb,8.95,Rogon - Lamb,778.6499999999994
Chicken Hari Mirch,9.95,Chicken Hari Mirch,1283.5500000000004
Chicken Shashlick Curry,12.95,Chicken Shashlick Curry,1825.9500000000019
Kurma,12.95,Kurma,12.95
Bengal Fish Biryani,12.95,Bengal Fish Biryani,582.7499999999998
Chicken Balti,9.95,Chicken Balti,3850.6500000000106
Mushroom,8.95,Mushroom,313.24999999999994
Madras - King Prawn,11.95,Madras - King Prawn,430.1999999999999
Tandoori Fish (Main),11.95,Tandoori Fish (Main),788.6999999999996
Pathia - Chicken Tikka,8.95,Pathia - Chicken Tikka,304.29999999999995
Chicken Tikka Pasanda,8.95,Chicken Tikka Pasanda,1995.8500000000035
Dhansak - Chicken Tikka,8.95,Dhansak - Chicken Tikka,635.4499999999996
Lamb Balti,9.95,Lamb Balti,1870.6000000000029
Korma - Lamb,8.95,Korma - Lamb,519.0999999999998
Rogon - Chicken,8.95,Rogon - Chicken,438.54999999999984
Saag - Chicken,8.95,Saag - Chicken,805.4999999999993
Lamb Sylhet,9.95,Lamb Sylhet,427.84999999999985
Methi - Chicken,8.95,Methi - Chicken,152.15000000000003
Pathia - Chicken,8.95,Pathia - Chicken,635.4499999999996
Curry - Chicken,7.95,Curry - Chicken,3633.1500000000106
Chicken Tikka Chilli Masala,8.95,Chicken Tikka Chilli Masala,3016.150000000008
Persian Lamb Biryani,10.95,Persian Lamb Biryani,525.5999999999998
Dhansak - Prawn,9.95,Dhansak - Prawn,189.05
Pathia - Prawn,9.95,Pathia - Prawn,59.699999999999996
Methi,8.95,Methi,411.6999999999999
Curry - King Prawn,11.95,Curry - King Prawn,167.3
Paneer Tikka Masala,8.95,Paneer Tikka Masala,2309.1000000000045
Vindaloo - Lamb,7.95,Vindaloo - Lamb,437.24999999999983
Vegetable Balti,9.95,Vegetable Balti,736.2999999999997
Vindaloo - Chicken Tikka,7.95,Vindaloo - Chicken Tikka,135.15000000000003
Lamb Shashlick,9.95,Lamb Shashlick,845.7499999999995
Chicken Rezala,9.95,Chicken Rezala,855.6999999999994
Mushroom - Lamb,8.95,Mushroom - Lamb,62.64999999999999
Dhansak - Lamb,8.95,Dhansak - Lamb,563.8499999999998
Pathia - King Prawn,12.95,Pathia - King Prawn,103.6
Rogon - Prawn,9.95,Rogon - Prawn,19.9
Methi - Lamb,8.95,Methi - Lamb,134.25
Lamb Achar,9.95,Lamb Achar,248.75000000000006
Paneer Tikka Balti,10.95,Paneer Tikka Balti,996.4499999999994
Bhuna,8.95,Bhuna,4636.100000000002
Dupiaza - Chicken Tikka,8.95,Dupiaza - Chicken Tikka,232.70000000000005
Mushroom - Chicken,8.95,Mushroom - Chicken,161.10000000000002
Chicken Tikka (Main),8.95,Chicken Tikka (Main),8099.749999999947
Madras - Prawn,8.95,Madras - Prawn,179.00000000000003
Dupiaza - King Prawn,12.95,Dupiaza - King Prawn,129.5
Lamb Roshni,9.95,Lamb Roshni,288.54999999999995
Korma - Prawn,9.95,Korma - Prawn,248.75
Lamb Tikka Biryani,10.95,Lamb Tikka Biryani,1762.9500000000014
Tandoori Mixed Grill,11.95,Tandoori Mixed Grill,8544.249999999953
Hazary Lamb Chilli Garlic,12.95,Hazary Lamb Chilli Garlic,841.7499999999995
Lamb Mysore,9.95,Lamb Mysore,686.5499999999995
Saag,8.95,Saag,2058.500000000004
Tandoori King Prawn Masala,12.95,Tandoori King Prawn Masala,1269.1
Madras - Chicken,7.95,Madras - Chicken,4030.65000000001
Lamb Tikka Pasanda,8.95,Lamb Tikka Pasanda,841.2999999999994
Prawn Biryani,10.95,Prawn Biryani,908.8499999999995
Tandoori King Prawn Garlic,12.95,Tandoori King Prawn Garlic,1605.8000000000013
Vindaloo - Prawn,8.95,Vindaloo - Prawn,89.5
Prawn Karahi,9.95,Prawn Karahi,606.9499999999996
Bhuna - Prawn,9.95,Bhuna - Prawn,258.7
Dhansak - Chicken,8.95,Dhansak - Chicken,1745.2500000000027
Chicken Roshni,9.95,Chicken Roshni,567.1499999999996
King Prawn Hari Mirch,12.95,King Prawn Hari Mirch,945.3499999999995
King Prawn Shaslick,12.95,King Prawn Shaslick,2771.300000000005
King Prawn Karahi,12.95,King Prawn Karahi,388.4999999999999
Dhansak - King Prawn,12.95,Dhansak - King Prawn,323.74999999999994
Lamb Tikka Jalfrezi,8.95,Lamb Tikka Jalfrezi,1199.3000000000002
Vindaloo - Chicken,7.95,Vindaloo - Chicken,1279.9500000000003
Lamb Shashlick Curry,12.95,Lamb Shashlick Curry,828.7999999999995
Chicken Tikka Balti,10.95,Chicken Tikka Balti,3153.6000000000076
Madras - Lamb,7.95,Madras - Lamb,1279.9500000000005
Persian Chicken Biryani,10.95,Persian Chicken Biryani,1073.1000000000001
Curry - Chicken Tikka,7.95,Curry - Chicken Tikka,572.3999999999997
Lamb Haryali,9.95,Lamb Haryali,646.7499999999995
Chicken Sylhet,9.95,Chicken Sylhet,527.3499999999997
Paneer Shaslick,9.95,Paneer Shaslick,1233.8
Dupiaza - Chicken,8.95,Dupiaza - Chicken,2094.300000000003
Saag - Chicken Tikka,8.95,Saag - Chicken Tikka,232.70000000000005
Lamb Tikka Karahi,9.95,Lamb Tikka Karahi,517.3999999999997
Korma - Chicken,8.95,Korma - Chicken,9764.449999999928
Bengal Fry Fish,12.95,Bengal Fry Fish,297.84999999999997
Chicken Achar,9.95,Chicken Achar,368.1499999999999
Vindaloo - King Prawn,11.95,Vindaloo - King Prawn,274.85
Butter Chicken,9.95,Butter Chicken,10626.59999999991
Chicken Haryali,9.95,Chicken Haryali,716.3999999999996
Vegetable Karahi,8.95,Vegetable Karahi,644.3999999999996
Lamb Tikka Jeera,8.95,Lamb Tikka Jeera,116.35000000000001
Curry - Lamb,7.95,Curry - Lamb,1303.8000000000006
Bhuna - Chicken Tikka,8.95,Bhuna - Chicken Tikka,1261.9499999999998
Lamb Tikka Sizzler,9.95,Lamb Tikka Sizzler,228.85
Mushroom - King Prawn,12.95,Mushroom - King Prawn,51.8
Lamb Tikka Masala,8.95,Lamb Tikka Masala,1655.7500000000023
Prawn Balti,10.95,Prawn Balti,405.14999999999986
Lamb Hari Mirch,9.95,Lamb Hari Mirch,626.8499999999997
Bhuna - King Prawn,12.95,Bhuna - King Prawn,246.05
Lal Mirch Chicken,9.95,Lal Mirch Chicken,925.3499999999995
Chicken Chilli Garlic,9.95,Chicken Chilli Garlic,1781.0500000000025
Sheek Kebab (Main),8.95,Sheek Kebab (Main),1369.3500000000004
Lamb Karahi,8.95,Lamb Karahi,1369.3500000000008
Chicken Tikka Biryani,10.95,Chicken Tikka Biryani,5474.999999999993
Rogon - King Prawn,12.95,Rogon - King Prawn,64.75
Lamb Biryani,9.95,Lamb Biryani,5989.899999999988
Chicken Karahi,8.95,Chicken Karahi,2013.7500000000036
Lamb Tikka Chilli Masala,8.95,Lamb Tikka Chilli Masala,769.6999999999995
Hazary Lamb,12.95,Hazary Lamb,1515.1500000000008
Madras,7.95,Madras,6662.099999999964
Chicken Tikka Jeera,8.95,Chicken Tikka Jeera,331.15
Lamb Chilli Garlic,9.95,Lamb Chilli Garlic,666.6499999999996
Lamb Tikka Garlic,8.95,Lamb Tikka Garlic,357.9999999999999
Chicken Tikka Sizzler,9.95,Chicken Tikka Sizzler,1373.1000000000004
Mushroom - Chicken Tikka,8.95,Mushroom - Chicken Tikka,80.54999999999998
Chicken Tikka Garlic,8.95,Chicken Tikka Garlic,1834.7500000000027
Lamb Rezala,9.95,Lamb Rezala,587.0499999999997
King Prawn Balti,12.95,King Prawn Balti,284.9
Lal Mirch Lamb,9.95,Lal Mirch Lamb,646.7499999999997
Chicken Shashlick,9.95,Chicken Shashlick,3721.3000000000075
Madras - Chicken Tikka,7.95,Madras - Chicken Tikka,818.8499999999992
Curry - Prawn,8.95,Curry - Prawn,429.5999999999999
Rogon - Chicken Tikka,8.95,Rogon - Chicken Tikka,98.45
Chicken Mysore,9.95,Chicken Mysore,935.2999999999993
Methi - Chicken Tikka,8.95,Methi - Chicken Tikka,44.75
Chicken Chaat Main,7.9,Chicken Chaat Main,7.9
Methi - Prawn,9.95,Methi - Prawn,19.9
Methi - King Prawn,12.95,Methi - King Prawn,25.9
Mushroom - Prawn,9.95,Mushroom - Prawn,9.95
Lamb Persian,10.95,Lamb Persian,10.95

Databricks visualization. Run in Databricks to view.

definitely need to only select the top 5 items from the menu this is way too messy

# Conclusions and Future Remarks

- I wanted to make insights into the 3 different menus I created for each restaurant
- I successfully created the menus and looked at the top 5 items in each menu of each place, using this data, customers can see which restaurant they would like to go to as these popular dishes would surely imply that the food is good
- Given more time I would love to explore more with the graphs and combine the tables of starters for each restaurant to better show comparisons between the most popular starters at each place
- My Data needs to be cleaned more, I have drinks within the starter menus and haven't removed them yet
- I need to add more annotations throughout my report and draw better conclusions, also include an introduction